
<ul class="nav nav-tabs">

  
    <li class ="">
      <a class="logo" routerLink="/home" routerLinkActive="active">
        <img src="../../assets/home/home-logo.png" width="30" height="30" alt="">
      </a> 

    </li>  
  
    <li class="nav-item">
        <a class="nav-link" routerLink="/calendar" routerLinkActive="active">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo" routerLinkActive="active">To-do</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/user" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/group" routerLinkActive="active">Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/expenses" routerLinkActive="active">Expenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/balance" routerLinkActive="active">Balance</a>
      </li>
  </ul>
  <div ></div>
