
<ul class="nav nav-tabs">

  
    <a class="logo" routerLink="/home" routerLinkActive="active" (mouseover)="rotate()" (mouseleave)="rotatingtofalse()">
      <img src="../../assets/home/home-logo.png" width="30" height="30" alt="">
    </a>
  
    <li class="nav-item">
        <a class="nav-link" routerLink="/calendar" routerLinkActive="active">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/user" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/group" routerLinkActive="active">Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/expenses" routerLinkActive="active">Expenses</a>
      </li>
  </ul>
  <div ></div>
