
.row{
    padding: 10px 0;
    color: white;
    background: linear-gradient(to bottom right,#40B0A6, white);
    border-radius: 20px;

}

.completed{
    padding: 10px 0;
    color: white;
    background: linear-gradient(to bottom right, green, white);
    border-radius: 20px;
    vertical-align: middle;

}

.button-green{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    transition-duration: 0.4s;
    margin: 5px;
    border-radius: 12px;
}
.button-green:hover{
    background-color:  #4CAF50;
    color:white
}

.button-red{
    background-color: white;
    color: black;
    border: 2px solid red;
    transition-duration: 0.4s;
    margin: 5px;
    border-radius: 12px;
}
.button-red:hover{
    background-color:  red;
    color:white
}

.button-blue{
    background-color: white;
    color: black;
    border: 2px solid blue;
    transition-duration: 0.4s;
    margin: 5px;
    border-radius: 12px;
}
.button-blue:hover{
    background-color:  blue;
    color:white
}

.button-orange{
    background-color: white;
    color: black;
    border: 2px solid orange;
    transition-duration: 0.4s;
    margin: 5px;
    border-radius: 12px;
}
.button-orange:hover{
    background-color:  orange;
    color:white
}